<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cluckr</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/javascript/bootstrap.min.js">
    <link rel="stylesheet" href="/javascript/popper.min.js">
    <link rel="stylesheet" href="/javascript/jquery-3.2.1.slim.min.js">
  </head>
    <body>

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Cluck!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
