<%- include('./partials/header') %>
    <form action="/signin" method="post">
      <label>Enter Username:</label>
      <input type="text" name="username">
      <input type="submit" value="Sign in">
    </form>
<%- include('./partials/footer') %>
